
<div style="display: flex; justify-content: space-between;">
    <h1 style="float: right;">NayWall</h1>
    <p><small>Saying &quot;Nay&quot; to Paywalls since 2019</small></p>

</div>


<h3>Pittsburgh Post Gazette</h3>

<h4><%= link "Front Page", to: Routes.page_path(@conn, :index) %></h4>

<h4><%= link "Sports Page", to: Routes.page_path(@conn, :sports) %></h4>
