
<article>

<h2>Sports</h2>

<div>
  <h3>Featured</h3>
  <%= render("list.html", conn: @conn, category: @featured) %>
</div>

<div>
  <h3>Trending</h3>
  <%= render("list.html", conn: @conn, category: @trending) %>
</div>

</article>
